<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Gamer Library</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/control.png" alt="controller logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section id="makeGame">
    <form id="gameForm" name="gameForm" action="/maker" method="POST" class="gameForm">
      <label for="title">Title: </label>
      <input id="gameTitle" type="text" name="title" placeholder="Game Title"/>
      <br><label for="platform">Platform: </label>
      <input id="gamePlatform" type="text" name="platform" placeholder="Platform"/>
      <br><label for="status">Status: </label>
      <input id="gameStatus" type="text" name="status" placeholder="New, used, digital, etc."/>
        <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="makeGameSubmit" type="submit" value="Make Game" />
    </form>
  </section>
  <section id="games">
        {{#if games}}
            {{#each games}}
                <div class="game">
                    <img src="/assets/img/control.png" alt="controller" class="gameControl"/>
                    <div class="gameContent">
                        <strong>Game:</strong> {{this.title}}
                        <hr>
                        <strong>Platform:</strong> {{this.platform}}
                        <br><strong>Status:</strong> {{this.status}}
                    </div>
                </div>
            {{/each}}
            {{else}}
                <h3 class="emptyGames">No games yet</h3>
            {{/if}}
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>